*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select:focus, input:focus, textarea:focus{
  outline: none!important;
  box-shadow: none!important;
  border: #000 solid 1px!important;
  background-color: #fff!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select:required:invalid {
  color: gray !important;
}
option[value=""][disabled] {
  display: none !important;
}

select {
  color: gray !important;
}
option {
  color: #000000;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.btn-rounded {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  background-color: #fff;
  display: block;
}
.btn-rounded span {
  position: absolute;
  background-color: #a58f44;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.btn-rounded span i {
  color: #fff;
  font-size: 1rem;
  line-height: 2.5rem;
}
.btn-rounded:hover {
  background: #a58f44;
  border: 3px solid #fff;
  color: #fff;
}
.btn-rounded:hover span {
  background-color: #000;
}

#button {
  background: #a58f44;
  border: none;
  font-weight: bold;
  color: #fff;
}

#button:hover {
  color: #000;
  background: #fff;
  border: 3px solid #a58f44;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.display-2--intro {
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.display-2--description {
  font-size: 1rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}
@media (min-width: 992px) {
  .display-2--description {
    font-size: 1.4rem;
    display: inline-block;
  }
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: #a58f44;
}

.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #a58f44;
}

.intro-section {
  background: #a58f44;
  padding: 8% 0 0 0;
  width: 100%;
  height: 100%;
}

.service {
  padding: 0 0 5rem 0;
}
.service-box {
  background-color: #e2c35a;
  max-width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  transition: transform .2s;
}
.service-box:hover {
  transform: scale(1.1);
}

.service-box p {
  margin-top: 1%;
}

@media (max-width: 767px) {
  .intros img {
    display: none;
  }
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
	background-color: #a58f44;
}