*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html, body {
  overflow-x: hidden !important;
}


body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus, textarea:focus, select:focus {
  outline: none!important;
  box-shadow: none!important;
  border: #000 solid 1px!important;
  background-color: #fff!important;
}

button:focus {
  outline: none!important;
  box-shadow: none!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #070707;
  z-index: 100000000;
  overflow: hidden !important;
}

.preloader:before {
  content: "LOADING";
  position: absolute;
  font-size: calc(550% + 0.5vw);
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.counter {
  position: relative;
  color: #fff;
  font-size: calc(900% + 0.5vw);
  font-weight: bold;
  z-index: 1;
}

.counter:after {
  content: "%";
  font-size: 0.5em;
}

.hide {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.preloader.active {
  transform: translate(0, -100%);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}

.navbar {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.3) !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar .navbar-collapse {
  margin-top: 1.3rem;
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-image img {
  width: 124px;
  height: 32px;
}

.navbar .logo-text {
  color: #000;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1rem;
  text-decoration: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 3.25rem;
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #ffffff;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
      margin-top: 0;
  }
}

@media (min-width: 992px) {
  .navbar {
      background-color: #ffffff;
      box-shadow: none;
      transition: all 0.2s;
  }
  .navbar.extra-page {
      padding-top: 0.5rem;
  }
  .navbar.top-nav-collapse {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #ffffff;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  }
  .offcanvas-collapse {
      position: static;
      top: auto;
      bottom: auto;
      left: auto;
      width: auto;
      padding-right: 0;
      padding-left: 0;
      background-color: transparent;
      overflow-y: visible;
      visibility: visible;
  }
  .offcanvas-collapse.open {
      -webkit-transform: none;
      transform: none;
  }
  .navbar .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
  }
  .navbar .nav-item .nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
  }
  .navbar .dropdown-menu {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
  }
  .navbar .dropdown-divider {
      width: 90%;
  }
  .navbar .nav-item .btn-outline-sm {
      margin-top: 0;
      margin-left: 1rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.btn-rounded {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  background-color: #fff;
  display: block;
}

.btn-rounded span {
  position: absolute;
  background-color: #a58f44;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.btn-rounded span i {
  color: #fff;
  font-size: 1rem;
  line-height: 2.5rem;
}

.btn-rounded:hover {
  background: #a58f44;
  border: 3px solid #fff;
  color: #fff;
}

.btn-rounded:hover span {
  background-color: #000;
}

#button {
  background: #a58f44;
  border: none;
  font-weight: bold;
  color: #fff;
}

#button:hover {
  color: #000;
  background: #fff;
  border: 3px solid #a58f44;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.display-2--intro {
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.display-2--description {
  font-size: 1rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}

@media (min-width: 992px) {
  .display-2--description {
    font-size: 1.4rem;
    display: inline-block;
  }
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: #a58f44;
}

.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #a58f44;
}

.intro-section {
  background: #a58f44;
  padding: 8% 0 0 0;
  width: 100%;
  height: 100%;
}

.service {
  padding: 0 0 5rem 0;
}

.service-box {
  background-color: #e2c35a;
  max-width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  transition: transform .2s;
}
.service-box:hover {
  transform: scale(1.1);
}

.service-box p {
  margin-top: 1%;
}

@media (max-width: 767px) {
  .intros img {
    display: none;
  }
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
	background-color: #a58f44;
}

.projects {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: white;
}

.projects:hover,
.projects:active,
.projects:focus {
  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  top: -2px;
}

.projects .projects-text {
  border-top: none;
  padding: 30px;
}

.projects .projects-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

#portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

#portfolio-flters button {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

#portfolio-flters button:hover,
#portfolio-flters .active {
  background: #a58f44;
  color: #fff;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

#android {
  background: #3DDC84;
}

#android h2 {
  color: #fff;
}

#web {
  background: #a58f44;
}

#web h2 {
  color: #fff;
}

#web .heading-line::after {
  background-color: #fff;
}

#web .heading-line::before {
  background-color: #fff;
}

#python {
  background: linear-gradient(90deg, #306998 50%, #ffd43b 50%);
}

#python h2 {
  color: #fff;
}

#udemy {
  background: #a58f44;
}

#udemy h2 {
  color: #fff;
}

#udemy .heading-line::after {
  background-color: #fff;
}

#udemy .heading-line::before {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .intros {
    padding-top: 10%;
  }
}

footer {
  background-color: #1a1a1a;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer a {
  color: #fff !important;
  text-decoration: none;
}

.footer p {
  color: #fcfcfc;
  text-decoration: none;
}

.footer h1 {
  color: #ffffff;
}

.footer p:hover,
.footer a:hover {
  color: #ffffff !important;
}

.footer .nav li {
  padding: 12px;
}

.footer .social-icons li {
  margin: 8px;
}

.footer .social-icons li a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 2.4em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  transition: 0.5s;
}

.footer .social-icons li:hover a {
  color: #1a1a1a !important;
  background-color: #ffffff;
  transition: 0.5s;
}

.footer .footer__copyright {
  margin-top: 1em;
}